[BEGINVDF]
Comment=This patch allows to collect and reuse shot projectiles (Gothic, Gothic Sequel, Gothic 2, and Gothic 2 NotR).%%NUsage irreversibly changes the game balance!%%NRequires the Free Aiming patch or the GFA scripts.
BaseDir=.\
VDFName=.\ReusableArrows.vdf

[FILES]
; Resources (list the specific files from _work here)
; _work\* -r

; Script files
Ninja\ReusableArrows\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
empty -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
